# **Project Name**    - Amazon Prime TV Shows and Movies

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Team Member 1 -** Joysurya Bhattacharya

# **Project Summary -**

My project is a comprehensive exploratory data analysis (EDA) of Amazon Prime Video's content catalog, using publicly available datasets on movies and TV shows. Leveraging Python tools like pandas, NumPy, Matplotlib, and Seaborn I performed:

1. Data cleaning and ingestion - Missing values and duplicate values removal.

2. Data wrangling- Feature extraction and irrelevant data removal.

2. Content Genre wise data analysis and visualization.

3. Regional data analysis and visualization.

4. Cross-attribute analysis - runtime vs. release year, rating vs. regions, IMDB TMDB Rating comparisons.

5. Age certification data analysis and visualization

My goal: to derive actionable insights for content strategy, platform improvement, and stakeholder decision-making.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

Problem Statement

This dataset was created to analyze all shows available on Amazon Prime Video, allowing us to extract valuable insights such as:

Content Diversity: What genres and categories dominate the platform?
Regional Availability: How does content distribution vary across different regions?
Trends Over Time: How has Amazon Primeâ€™s content library evolved?
IMDb Ratings & Popularity: What are the highest-rated or most popular shows on the platform?
By analyzing this dataset, businesses, content creators, and data analysts can uncover key trends that influence subscription growth, user engagement, and content investment strategies in the streaming industry.

#### Business Objectives

1. **Understand Content Mix & Trends**

Identify which genres (e.g., drama, comedy, action) dominate Amazon Prime Video.

Analyze content growth over time: Are TV shows or movies increasing faster?

2. **Demographic & Audience Insights**

Assess how content is consumed region-wise.

Understand diversification of content demand.

3. **Content Efficiency & Engagement Metrics**

Explore metrics like runtime, release year, and how they evolve.

Use correlations (longer runtime vs popularity, runtimes vs ratings) to guide future acquisitions.

4. **Support Strategic Decisions**

Provide insights for content acquisition teams, marketing, and product strategy, highlighting gaps or opportunities in content distribution.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Dataset Loading

In [ ]:
from google.colab import files
uploaded = files.upload()  # Upload titles.csv and credits.csv

In [ ]:
# Load Datasets - Titles and Credits
titles_df = pd.read_csv("titles.csv")
credits_df = pd.read_csv("credits.csv")

### Dataset First View

In [ ]:
# Dataset - Titles First 10 Rows
titles_df.head(10)

In [ ]:
# Dataset - Credits First 10 Rows
credits_df.head(10)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
titles_df.shape

In [ ]:
credits_df.shape

### Dataset Information

In [ ]:
# Dataset Info
titles_df.info()

In [ ]:
# Dataset Info
credits_df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
credits_df.duplicated().value_counts()

In [ ]:
# Dataset Duplicate Value Count
titles_df.duplicated().value_counts()

In [ ]:
# remove duplicates from titles and credits
t_df=titles_df.drop_duplicates()
c_df=credits_df.drop_duplicates()

**Duplicate values check and drop based on Column Subsets**

In [ ]:
t_df.columns

In [ ]:
# Check whether duplicate values exist based on imdb_id
t_df['imdb_id'].duplicated().sum()

In [ ]:
# Filter rows where imdb_id is duplicated
duplicates = t_df[t_df.duplicated(subset='imdb_id', keep=False)]

# Sort for better readability
duplicates = duplicates.sort_values(by='imdb_id')

# Show them
print(duplicates.loc[:,['imdb_id','title']])

#imdb id showing duplicate values are 'NaN' values. Therefore will be handled as Missing value case

In [ ]:
# Duplicate title dropped based on same title, runtime and genres
t_df['title_lower'] = titles_df['title'].str.lower()
t_df.duplicated(subset=['title_lower','runtime','genres'],keep=False).value_counts()

In [ ]:
t_df=t_df.drop_duplicates(subset=['title_lower','runtime','genres'],keep='first')

In [ ]:
# Filter rows where title and release year is duplicated
duplicates = t_df[t_df.duplicated(subset=['title','release_year'], keep=False)]

# Sort for better readability
duplicates = duplicates.sort_values(by='title')

# Show them
print(duplicates.loc[:,['title','production_countries']])

#Production countries are different, therefore there is region based distinction. No duplicates dropped

In [ ]:
#Check for duplicates in Credits dataset column subsets
c_df.columns

In [ ]:
#based on person_id and movie id
c_df.duplicated(subset=['person_id','id'],keep=False).sum()

In [ ]:
# Filter rows where movie id and person_id is duplicated
duplicates = c_df[c_df.duplicated(subset=['person_id','id'], keep=False)]

# Sort for better readability
duplicates = duplicates.sort_values(by='person_id')

# Show them
print(duplicates.loc[:,['person_id','id','name']])

In [ ]:
#duplicates for person_id exists for the same movie, therefore dropping them
c_df=c_df.drop_duplicates(subset=['person_id','id'],keep='first')

#### Missing Values/Null Values

Missing Values in Titles Dataset

In [ ]:
# Missing Values count in Titles dataset
t_df.isnull().mean()*100

In [ ]:
# more than 80% data is null in seasons column. Therefore the column is dropped

t_df = t_df.drop(['seasons'], axis=1)

In [ ]:
# 58% null values in age_certification columns

#insight: Amazon's catalog lacks age certifications for 58% of titles, which may hinder parental control or age-based recommendations.

# Creating a seperate column for titles which have age certifications for further comparisons

t_df['has_certification'] = t_df['age_certification'].notnull()
t_df.loc[:,['title','has_certification']]

In [ ]:
t_df.columns

In [ ]:
#null values based on imdb oriented columns
cond=t_df['imdb_id'].isnull()==True
t_df.loc[cond,:]

#insight: imdb data missing in 6% rows approximately.
# IMDB data is core to analysis of popularity and rating of the titles.
#These null data might distort the insights and findings from data visualization.

In [ ]:
#Drop IMDB data with null values
t_df=t_df.dropna(subset=['imdb_id','imdb_score','imdb_votes'])

In [ ]:
#null values based on tmdb oriented columns
cond=t_df['tmdb_score'].isnull()==True
t_df.loc[cond,:]

#insight: tmdb_score data missing in 17% rows approximately.
# tmdb_score and tmdb_popularity data is core to analysis of popularity and rating of the titles.
#These null data might distort the insights and findings from data visualization.

In [ ]:
#Drop IMDB data with null values
t_df=t_df.dropna(subset=['tmdb_popularity', 'tmdb_score'])

Missing values in Credits Dataset

In [ ]:
# Missing Values count in Credits dataset in percentage
c_df.isnull().mean()*100

In [ ]:
#characters column holds very low relevance to the data insights we aim to find
#therefore, we can safely ignore the null data in characters column in credits

**OBSERVATIONS AND INTERPRETATIONS FROM DATA CLEANING**

---
**TITLES DATASET**

1. Amazon's catalog lacks age certifications for 58% of titles, which may hinder parental control or age-based recommendations.
However it is an important parameter to determine age based content restriction on the platform.
2. Tmdb_score data missing in 17% rows approximately.
These null data might distort the insights and findings from data visualization.
However, tmdb_score and tmdb_popularity data is core to analysis of popularity and rating of the titles.
3. More than 80% data is null in seasons column. Therefore the column is dropped to avoid distortion during visualization.
4. Tuples having missing values from IMDB columns are removed for cleaner data representation to determine rating trends.
5. Duplicate values based on runtime,title and genre are removed

**CREDITS DATASET**

1. Duplicate  values for person id and id columns subset are removed for cleaner data.
2. Characters column holds very low relevance to the data insights we aim to find.
therefore, we can safely ignore the null data in characters column in credits.

Saved the cleaned datasets

In [ ]:
#save the cleaned datasets
t_df.to_csv('titles_cleaned.csv', index=False)
c_df.to_csv('credits_cleaned.csv', index=False)

## ***2. Understanding Your Variables***

In [ ]:
# Titles Dataset Columns
t_df.columns

In [ ]:
#Titles Dataset Describe
t_df.describe()

In [ ]:
t_df.info()

In [ ]:
#genres for each show/movie sometimes have multiple genres listed
titles_df['genres'].value_counts()

In [ ]:
c_df.head()

**INSIGHTS TO AVAILABLE DATA**


1. In order to properly visualize data and produce content summaries and results categorically, the titles and credits datasets needs to be joined.
2. Irrelevant columns needs to be removed before joining to avoid extra columns and tuples that do not contribute to the visualizations.
3. Also, particular columns needs to be exploded for proper data analysis and visualization.

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# drop character person_id  columns in credits dataset

c_df=c_df.drop(columns=['character', 'person_id'])

In [ ]:
# credits Dataset Columns
c_df['name']=credits_df['name']

In [ ]:

t_df['genres'] = t_df['genres'].astype(str)
# Remove brackets and extra spaces
t_df['genres_clean'] = (
    t_df['genres']
    .fillna('')  # Replace NaNs with empty string
    .str.replace(r'[\[\]]', '', regex=True)  # Remove [ and ]
    .str.split(',')  # Split on comma
)

# Strip extra whitespace from each genre
t_df['genres_clean'] = t_df['genres_clean'].apply(lambda x: [g.strip() for g in x if g.strip() != ''])

# Explode into separate rows
t_df = t_df.explode('genres_clean').rename(columns={'genres_clean': 'genre'})

#drop original 'genres' column if no longer needed
t_df=t_df.drop(columns=['genres'])

# Now 'genre' column has one genre per row

In [ ]:
t_df['production_countries'] = t_df['production_countries'].astype(str)
# Remove brackets and extra spaces
t_df['countries_clean'] = (
    t_df['production_countries']
    .fillna('')  # Replace NaNs with empty string
    .str.replace(r'[\[\]]', '', regex=True)  # Remove [ and ]
    .str.split(',')  # Split on comma
)

# Strip extra whitespace from each genre
t_df['countries_clean'] = t_df['countries_clean'].apply(lambda x: [g.strip() for g in x if g.strip() != ''])

# Explode into separate rows
t_df = t_df.explode('countries_clean').rename(columns={'countries_clean': 'production_country'})

#drop original 'genres' column if no longer needed
t_df=t_df.drop(columns=['production_countries'])

# Now 'genre' column has one genre per row

In [ ]:
t_df=t_df.loc[:,~t_df.columns.duplicated()]

In [ ]:
t_df.info()

In [ ]:
c_df.head()

In [ ]:
#merging Titles and Credits Table
df=pd.merge(t_df,c_df,how='inner',on='id')

In [ ]:
#save merged table
df.to_csv('merged_table.csv', index=False)

### **Manipulations and Insights**


1.   Columns Genres and Production_countries are exploded because grouped data was present which is difficult to analyse.
2. Titles and Credits are merged for proper subsetting and deduplication in order to visualize the data properly.
3. Columns like Characters and Person id are removed because they hold low relevance in light of the problem statement.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

**BAR PLOT CHART -** **Genre-wise distribution of Movies and TV Shows**

In [ ]:
#drop duplicates
df_cleaned = df[['id', 'genre', 'type']].drop_duplicates()
#group data based on genre and type of content
genre_counts = df_cleaned.groupby(['genre', 'type']).size().reset_index(name='count')

#Bar Plot ()
plt.figure(figsize=(12, 6))
sns.barplot(data=genre_counts, x='genre', y='count', hue='type')
plt.title('Genre-wise Distribution of Movies and TV Shows')
plt.xlabel('Genre')
plt.ylabel('Number of Titles')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare the genre wise distribution of movie titles on the platform.

##### **OBSERVATIONS**

1) Genres like Drama, Comedy, Thriller. Action and Romance have the highest number of titles.

2) TV shows tend to dominate in genres like Animation and Reality Shows, while movies are significantly more prevalent in all other top genres like drama, action, comedy,etc.

3) Remarkable quantity of Drama genre content is available on the platform.

##### **INTERPRETATIONS**

1) Prominence of animation and reality genres in TV Show Format signifies the audience prefer to consume episodic content in these genres.

2) The variety of content is mostly concentrated towards movies in the drama, comedy and thriller genres. Niche variety of genres like Animation, Reality Sci-Fi lack presence on the platform.  
3) TV Shows are limited to a select few genres and are significatly less than
movies.

**CONCLUSIONS**


1.   Diversifying content and targeting niche genres might help reach a larger group of audience.
2.   Content in major genres like Drama, Action and Comedy should be put out more selectively focusing on the quality of the product.

**LINE PLOT CHART - Top 5 Genres Trend Over Years on Amazon Prime after 2000**

In [ ]:
# Keep only relevant columns and drop duplicates
genre_year_df = df[['id', 'genre', 'release_year']].drop_duplicates()

# Drop missing years or genres
genre_year_df = genre_year_df.dropna(subset=['genre', 'release_year'])
# Count total number of shows/movies per genre
top_genres = (
    genre_year_df['genre']
    .value_counts()
    .head(5)
    .index
    .tolist()
)
# Filter for only those top 5 genres
top_genre_df = genre_year_df[genre_year_df['genre'].isin(top_genres)]
genre_trend = (
    top_genre_df
    .groupby(['release_year', 'genre'])
    .size()
    .reset_index(name='count')
)

In [ ]:
#filter for only content released after 2000

genre_trend = genre_trend[genre_trend['release_year'] >= 2000]

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(
    data=genre_trend,
    x='release_year',
    y='count',
    hue='genre',
    marker='o'
)

plt.title('Top 5 Genres Trend Over Years on Amazon Prime after 2000')
plt.xlabel('Release Year')
plt.ylabel('Number of Titles')
plt.xticks(rotation=45)
plt.legend(title='Genre')
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used Line chart to clearly observe the trend in release of categories of content.

**OBSERVATIONS:**

1.   Content release in all the top genres peaked before 2020.
2.   Content release in all the top genres has seen a steep increase and has never seen a dip until 2020.

**INTERPRETATIONS**


1. Since the beginning of COVID era, content release on the platform has seen a decline.
2. Movies and TV Shows in these top 5 dominant genres has seen a rise over a period of time which indicates a strong demand for this type of content.

**CONCLUSIONS**


1. More and fresh content needs to be released in the post-pandemic era to keep the platform relevant to the audience.
2. The business needs to cater to the audience demand for certain genres of movies to keep making profit from this business model.

#### **BAR PLOT CHART - Average IMDb and TMDB Scores for Top 5 Genres**

In [ ]:


#  Drop duplicates to avoid score inflation
df_clean = df[['id', 'genre', 'imdb_score', 'tmdb_score']].drop_duplicates()

#  Get top 5 genres by count
top_genres = df_clean['genre'].value_counts().head(5).index.tolist()

# Filter only top 5 genres
top_genres_df = df_clean[df_clean['genre'].isin(top_genres)]

# Calculate average scores per genre
avg_scores = top_genres_df.groupby('genre')[['imdb_score', 'tmdb_score']].mean().reset_index()

# Melt for easier plotting with seaborn
avg_scores_melted = avg_scores.melt(id_vars='genre', value_vars=['imdb_score', 'tmdb_score'],
                                    var_name='Score_Type', value_name='Average_Score')

# Plot
plt.figure(figsize=(10,6))
ax=sns.barplot(data=avg_scores_melted, x='genre', y='Average_Score', hue='Score_Type')
# Add labels on top of each bar
for p in ax.patches:
    height = p.get_height()
    ax.text(
        x=p.get_x() + p.get_width() / 2,
        y=height + 0.05,
        s=f'{height:.2f}',
        ha='center',
        va='bottom',
        fontsize=9,
        fontweight='bold'
    )
plt.title('Average IMDb and TMDB Scores for Top 5 Genres')
plt.xlabel('Genre')
plt.ylabel('Average Score')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare Average IMDb and TMDB Scores for Top 5 Genres on the platform

**OBSERVATIONS**


1. Movies and TV Shows in the **Drama** genre are the most highly rated by the users on IMDB and TMDB.
2. Average ratings in all the top genres are mostly in the range between **5-6** in both IMDB and TMDB.

**INTERPRETATIONS**


1.   There is a consistent quality maintained in the Movies and TV Shows release on the platform which is **appreciated** by the audience.  
2. Despite significantly **less number of TV Shows** (compared to the movies) released on the platform, they receive **great feedback** in terms of quality from the viewers.

**Conclusions**

1. TV Shows needs to be released in more quantity to increase viewership and hence, profitability.

#### **BAR PLOT CHART - Top 10 Country-wise distribution of Movies/ TV Shows**

In [ ]:
#production_country_names labelling and mapping (top 10)
country_labels = {
    "'US'": 'United States',
    "'GB'": 'United Kingdom',
    "'IN'": 'India',
    "'FR'": 'France',
    "'CA'": 'Canada',
    "'JP'": 'Japan',
    "'DE'": 'Germany',
    "'IT'": 'Italy',
    "'ES'": 'Spain',
    "'CN'": 'China'
}

In [ ]:
df_cleaned = df[['id', 'production_country', 'type']].drop_duplicates()
# Drop missing countries
df_cleaned=df_cleaned.dropna(subset=['production_country'])
#  Get top 10 countries by count
top_countries = df_cleaned['production_country'].value_counts().head(10).index.tolist()
# Filter only top 10 countries
top_countries_df = df_cleaned[df_cleaned['production_country'].isin(top_countries)]

country_counts = top_countries_df.groupby(['production_country', 'type']).size().reset_index(name='count')
country_counts['country_name'] = country_counts['production_country'].map(country_labels)
country_counts=country_counts.sort_values(by=['count'],ascending=False)

plt.figure(figsize=(12, 6))
ax=sns.barplot(data=country_counts, x='country_name', y='count', hue='type')
# Add labels on top of each bar
for p in ax.patches:
    height = p.get_height()
    ax.text(
        x=p.get_x() + p.get_width() / 2,
        y=height + 0.05,
        s=f'{height:.2f}',  # format to 2 decimal places
        ha='center',
        va='bottom',
        fontsize=9,
        fontweight='bold'
    )
plt.title('Distribution of Movies and TV Shows in Top  Countries')
plt.xlabel('Country')
plt.ylabel('Number of Titles')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare distribution of titles in top 10 content producing countries

**OBSERVATIONS**


1.   USA has the most amount of movies/tv shows produced which is significatly higher than the other countries.
2. USA is followed by India and UK in terms of movie productions.
3. Except for UK, other European countries in the list have a very low count in TV Show productions.

**INTERPRETATIONS**


1. USA is the **most productive market** in the content producing business.
2. Countries like **India, Canada, China and Japan** have a lot of **untaped potential** and opportunity in the form of **regional cinema.**
3. Demand in TV Shows in **regional languages** is comparatively less especially in Europe.

**CONCLUSIONS**

1. Focus on regional content diversification should be shifted towards Asian countries like India, Japan and China especially for the tv show category.

2. In the movies category, USA followed by UK, India and Canada have profitable markets.
3. **Regional language based content** is on the rise and has a booming future.

#### **BAR CHART- Average IMDb and TMDB Scores for Top 10 Content producing Countries**

In [ ]:
#  Drop duplicates to avoid score inflation
df_clean = df[['id', 'production_country', 'imdb_score', 'tmdb_score']].drop_duplicates()

#  Get top 10 country by count
top_countries = df_clean['production_country'].value_counts().head(10).index.tolist()

# Filter only top 10 country
top_countries_df = df_clean[df_clean['production_country'].isin(top_countries)]

# Calculate average scores per country
avg_scores = top_countries_df.groupby('production_country')[['imdb_score', 'tmdb_score']].mean().reset_index()
avg_scores['country_name'] = avg_scores['production_country'].map(country_labels)
# Melt for easier plotting with seaborn
avg_scores_melted = avg_scores.melt(id_vars='country_name', value_vars=['imdb_score', 'tmdb_score'],
                                    var_name='Score_Type', value_name='Average_Score')

#  Plot
plt.figure(figsize=(10,6))
ax=sns.barplot(data=avg_scores_melted, x='country_name', y='Average_Score', hue='Score_Type')
# Add labels on top of each bar
for p in ax.patches:
    height = p.get_height()
    ax.text(
        x=p.get_x() + p.get_width() / 2,
        y=height + 0.05,
        s=f'{height:.2f}',
        ha='center',
        va='bottom',
        fontsize=9,
        fontweight='bold'
    )
plt.title('Average IMDb and TMDB Scores for Top 10 Content producing Countries')
plt.xlabel('Country')
plt.ylabel('Average Score')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare Average IMDb and TMDB Scores for Top 10 Content producing Countries.

**OBSERVATIONS**


1. Movies and TV Shows produced in **China and Japan** have high ratings from the users at both IMDB and TMDB.
2. Ratings have not fallen **below 5.7** among any of the top content producing countries.
3. USA has a comparatively lower average rating.

**INTERPRETATIONS**

1. Quality of regional content produced in China and Japan is remarkably good. Even in other Asian countries like India, regional content dominates.  
2. Consistently decent quality movies and tv shows are put out in top content producing countries.
3. Due to a high production market in USA, a variety of content is being produced which can be a reason for a comparatively lower average.

**CONCLUSIONS**

1. Regional business investment in Asian countries like India, China and Japan is a great choice evidently.
2. Countries like USA where many Movies and TV shows are being made, selective content with higher quality should be chosen for investment.
3. Regional language based movies in European countries is a good market to invest in.

#### **HEATMAP - Genre vs Country (Top 10 Production Countries)**

In [ ]:
# Count top 10 countries
top_countries = df['production_country'].value_counts().head(10).index

# Filter only those
filtered_df = df[df['production_country'].isin(top_countries)]

filtered_df = filtered_df.drop_duplicates(subset=['id', 'genre', 'production_country'])

genre_country_counts = (
    filtered_df.groupby(['production_country', 'genre'])
    .size()
    .reset_index(name='count')
)
genre_country_counts['country_name'] = genre_country_counts['production_country'].map(country_labels)

In [ ]:
pivot_table = genre_country_counts.pivot(
    index='country_name', columns='genre', values='count'
).fillna(0)

plt.figure(figsize=(12, 6))
sns.heatmap(pivot_table, annot=True, fmt='g', cmap='YlGnBu')
plt.title('Genre vs Country (Top 10 Production Countries)')
plt.xlabel('Genre')
plt.ylabel('Production Country')
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used Scatter chart to clearly observe genre wise distribution in top content producing countries

**OBSERVATIONS**

1. USA has a significantly **higher number** of movies/tv shows produced in **every genre** compared to all the other countries in the list.
2. Second to USA is UK and relatively close to UK is India. UK has a decent number in almost every genre.
3. India has significant number of productions only in top genres like drama, action, comedy, etc. India has low numbers in **niche genres**.
4. **Reality genre** which mainly consists of reality tv shows has an almost negligible presence in top content producing countries.
5. **Family genre** has also seen low numbers on almost all countries.
6. Genres like **Animation, Sci-Fi, Sports** are also severely underrepresented.

**INTERPRETATIONS**

1. US market mainly consisting of english language content is decently present in every genre.
2. Regional content producing markets like India, Japan, China, Germany, Italy, etc. requires content varieties involving niche genres like Animation, Sci-Fi, Sports, Reality,etc.
3. There is a lack of family based content on the platform from many top countries.
4. TV Show category where sitcom style episodic content has a great demand that is not met especially in regional languages.

**CONCLUSIONS**

1. The USA remains the content powerhouse, and further strategic partnerships or licensing deals can strengthen market dominance and genre variety.
2. In order to gain a spectrum of audience consuming regional language based content, a strong variety of movies and tv shows must be introduced on the platform for better audience engagement.
3. Strong focus should be given to family based content for wider audience recognition especially in Asian countries.

#### **BAR PLOT CHART - Age Certification Distribution**

In [ ]:
# Mapping age certification codes to full forms
rating_labels = {
    'G': 'G - General',
    'PG': 'PG - Parental Guidance',
    'PG-13': 'PG-13 - Parents Strongly Cautioned',
    'R': 'R - Restricted',
    'NC-17': 'NC-17 - Adults Only',
    'TV-Y': 'TV-Y - All Children',
    'TV-Y7': 'TV-Y7 - 7+ Years',
    'TV-G': 'TV-G - General Audience',
    'TV-PG': 'TV-PG - Parental Guidance',
    'TV-14': 'TV-14 - 14+ Years',
    'TV-MA': 'TV-MA - Mature Audience'
}

In [ ]:

# Filter non-null age certifications
age_df = df[df['age_certification'].notnull()]
age_df=age_df[['id','age_certification']].drop_duplicates()
grouped_by_age = age_df.groupby('age_certification').size().reset_index(name='count')
grouped_by_age['full_cert'] = grouped_by_age['age_certification'].map(rating_labels)
# Sort by count in descending order
grouped_by_age = grouped_by_age.sort_values(by='count', ascending=False)

plt.figure(figsize=(12, 6))
ax=sns.barplot(data=grouped_by_age, x='full_cert', y='count')
# Add labels on top of each bar
for p in ax.patches:
    height = p.get_height()
    ax.text(
        x=p.get_x() + p.get_width() / 2,
        y=height + 0.05,
        s=f'{height:.2f}',  # format to 2 decimal places
        ha='center',
        va='bottom',
        fontsize=9,
        fontweight='bold'
    )
plt.title('Age Certification Distribution')
plt.xlabel('Age Certifications')
plt.ylabel('Number of Titles')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare age certification data distribution over the available content on the platform.

**OBSERVATIONS**

1. Restricted and PG13 content covers a major porton of the content type available on the platform.
2. Children content with TV-Y and TV-Y7 certifications is significantly fewer in number.

**INTERPRETATIONS**


1.  Massive availability of R-rated and PG13 content suggests the target audience on the platform is mainly teenagers and adults.
2. Lack of children content and family friendly content evidently singifies the market gap in children entertainment.

**CONCLUSIONS**

1. To diversify the content portfolio and to attract younger audience, a decent suppy of family friendly content is required.
2. Platform prioritizes teen and adult content, aligning with the most active and profitable demographics.

#### **LINE PLOT CHART - TV Shows vs Movies Over Time**

In [ ]:
df_clean=df[['id','release_year','type']].drop_duplicates()
df_grouped = df_clean.groupby(['release_year', 'type']).size().reset_index(name='count')
df_grouped=df_grouped[df_grouped['release_year']>=2000]
plt.figure(figsize=(12, 6))
sns.lineplot(data=df_grouped, x='release_year', y='count', hue='type')
plt.title('TV Shows vs Movies Over Time')
plt.xlabel('Release Year')
plt.ylabel('Count')
plt.show()

OBSERVATIONS
1. Since 2000s, TV Show release has not seen a significant rise on the platform.
2. Movies availability on the platform have seen a drastic rise after 2010.

**INTERPRETATIONS**

1. TV Shows have not engaged audience over the years due to a lack of content in this category.
2. TV Shows are generally family friendly have a decent family audience base which is missing from the platform due to lack of content in this category.

**CONCLUSIONS**

1. TV show content rise can bring in younger audience as well as families who love to enjoy good content together.
2. Variety in this category can lead to new business deals both regional and international.
3. Many TV shows wants to shift from TV to OTT and the market is open for deals.

#### **BAR PLOT CHART - Average IMDb and TMDB Scores for TV Shows and Movies**

In [ ]:
#  Drop duplicates to avoid score inflation
df_clean = df[['type','imdb_score','tmdb_score']].drop_duplicates()

# Calculate average scores per type
avg_scores = df_clean.groupby('type')[['imdb_score', 'tmdb_score']].mean().reset_index()

# Melt for easier plotting with seaborn
avg_scores_melted = avg_scores.melt(id_vars='type', value_vars=['imdb_score', 'tmdb_score'],
                                    var_name='Score_Type', value_name='Average_Score')

# 6. Plot
plt.figure(figsize=(10,6))
ax=sns.barplot(data=avg_scores_melted, x='type', y='Average_Score', hue='Score_Type')
# Add labels on top of each bar
for p in ax.patches:
    height = p.get_height()
    ax.text(
        x=p.get_x() + p.get_width() / 2,
        y=height + 0.05,
        s=f'{height:.2f}',  # format to 2 decimal places
        ha='center',
        va='bottom',
        fontsize=9,
        fontweight='bold'
    )
plt.title('Average IMDb and TMDB Scores for TV Shows and Movies')
plt.xlabel('Type')
plt.ylabel('Average Score')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare IMDB and TMDB score for movies and tv shows.

**OBSERVATION**

TV Shows have above 7 rating in both TMDB and IMDB.

**INTERPRETATION**

Content available in Amazon Prime platform are largely movies and have much less TV Shows available.
However the quality of content delivered by tv shows is better and highly appreciated by the users on IMDB and TMDB

**CONCLUSION**

There is a huge market gap that needs of be filled by a decent supply of fresh tv show content on the platform. This will popularise the platform and tremendously increase the viewership.
TV Shows have episodic content which has the capability the engage viewers regularly and make Amazon subscribers stay for long on the platform.

#### **BAR PLOT CHART - Top 3 creators/Artists on Amazon platform per country as per popularity and rating**

In [ ]:
df.columns

In [ ]:
#  Drop duplicates to avoid score inflation
df_clean = df[['id', 'production_country','name','imdb_score','tmdb_popularity','release_year']].drop_duplicates()

#  Get top 10 country by count
top_countries = df_clean['production_country'].value_counts().head(5).index.tolist()

# Filter only top 10 country
top_countries_df = df_clean[df_clean['production_country'].isin(top_countries)]
top_countries_df['country_name'] = top_countries_df['production_country'].map(country_labels)

In [ ]:

actor_country = (
    top_countries_df
    .groupby(['country_name', 'name'])
    .agg(imdb_mean=('imdb_score', 'mean'),
         avg_tmdb=('tmdb_popularity', 'mean'))
    .reset_index()
)


#  For each country, pick top 3 creators based on IMDb + TMDb average
actor_country['score_mean'] = (actor_country['imdb_mean'] + actor_country['avg_tmdb']) / 2
top_actors_per_country = actor_country.groupby('country_name').apply(
    lambda x: x.sort_values('score_mean', ascending=False).head(3)
).reset_index(drop=True)

In [ ]:


# Add a unique label per actor per country for spacing
top_actors_per_country['country_actor'] = (
    top_actors_per_country['country_name'] + ' - ' + top_actors_per_country.groupby('country_name').cumcount().add(1).astype(str)
)

plt.figure(figsize=(16, 6))
sns.barplot(
    data=top_actors_per_country,
    x='country_actor',
    y='score_mean',
    hue='name',
    dodge=False,
    palette='tab10'
)

plt.title('Top 3 Creators/Artists in Top 5 Countries by IMDb & TMDb Popularity')
plt.ylabel('Mean Score (IMDb + TMDb)')
plt.xlabel('Country - Actor Rank')
plt.xticks(rotation=45)
plt.legend(title='Actor', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

**Specific Chart Usage Purpose:**

---
Used bar chart to clearly compare mean score of IMDb and TMDB Scores in Top 5 Content producing Countries for their top 3 actors

**OBSERVATIONS**

1. Mean score based on IMDB Rating an TMDB popularity is calculated for top creators/artists on the platform country-wise.
2. Top artists who worked in the USA market have significantly more popular movies rated highly than other artists on the platform.
3. Indian artists have less rated movies as per IMDB and TMDB scores.

**INTERPRETATIONS**

1. Regional creators as well as international creators mentioned here have movies/tv shows on Amazon that has been highly rated by IMDB Users.  
2. Indian users have not actively rated the Indian content on these platforms.
3. English language based content creators get significant popularity as evident in the USA ratings.
3. Artist/creators associated with popular products eventually attracts broader viewer base.

**CONCLUSIONS**

1. IMDB and TMDB Scores vary with the user base of the country associated with the platform.
2. Creators associated with the platform consistently putting out highly rated content can be given more work and casting opportunities in home productions of Amazon.
3. English language based content especially from USA and UK have a way broader reach worldwide and is a stable market.

#### **PIE CHART - Presence of age certification**

In [ ]:
df['has_certification'].value_counts()

In [ ]:
#df_clean=df[['id','has_certification']].drop_duplicates()
# Count values
cert_counts = t_df['has_certification'].value_counts()

# Labels for pie chart
labels = ['No Certification', 'Has Age Certification']
colors = ['#66b3ff', '#ff9999']

# Plot pie chart
plt.figure(figsize=(6, 6))
plt.pie(cert_counts, labels=labels, autopct='%1.1f%%', startangle=140, colors=colors)
plt.title('Proportion of Content with Age Certification')
plt.axis('equal')  # Equal aspect ratio to make it a perfect circle
plt.show()

**Specific Chart Usage Purpose:**

---
Used pie chart to clearly show the absence of age certification on majority of content available on the platform.

**OBSERVATION**

There is a absence of age certifications  in nearly 59% content on the platform.

**INTERPRETATION**

This major gap can lead to lack of parental control and weak recommendation system for the users

**CONCLUSION**
1. To build trust with parents and regulators, platforms must standardize age ratings, especially for international or older content.

2. Adding or updating missing certifications could improve search relevance, parental controls, and personalized recommendations.

####  **HISTOGRAM - Runtime Distribution**

In [ ]:

df_clean=df[['id','runtime']].drop_duplicates()
# Drop missing values
runtimes = df_clean['runtime'].dropna()

# Calculate Q1 and Q3
Q1 = np.percentile(runtimes, 25)
Q3 = np.percentile(runtimes, 75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_clean[(df_clean['runtime'] < lower_bound) | (df_clean['runtime'] > upper_bound)]
print(f"Number of outliers: {len(outliers)}")

In [ ]:

plt.figure(figsize=(10, 6))
sns.histplot(runtimes, bins=25, kde=True, color='lightblue', edgecolor='black')

# Add vertical lines for bounds
plt.axvline(lower_bound, color='red', linestyle='--', label='Lower Bound')
plt.axvline(upper_bound, color='red', linestyle='--', label='Upper Bound')
# Annotate the boundary values on x-axis
plt.text(lower_bound, plt.ylim()[1]*0.9, f'{lower_bound:.1f}', color='red', ha='right')
plt.text(upper_bound, plt.ylim()[1]*0.9, f'{upper_bound:.1f}', color='blue', ha='left')
plt.legend()
plt.title('Histogram with Outlier Bounds (IQR Method)')
plt.xlabel('Runtime (minutes)')
plt.ylabel('Number of Titles')
plt.grid(axis='y', alpha=0.75)
plt.show()

**Specific Chart Usage Purpose:**

---
Used histogram to clearly analyse the run time distribution for the avalable content.

**OBSERVATIONS**

1. Runtime of tv shows and movies vary significantly from 10-20 minutes ranging upto 3 hours.
2. Majority of content runtimes lie close to 2 hours.
3. Content less than approximately 33 mintues and content greater than 145 minutes can be considered **outliers**.

**INTERPRETATIONS**
1. The content availability on the platform is majorly movies with 1.5 to 2 hour denoting long format content.
2. Lack of short form content suggest audience mainly perfer binge watching movies and web series on the platform.
3. TV Show content with shorter length content is less available.

**CONCLUSIONS**

1.   Movie production house partnerships and investment in long format content is a strategic move.
2. Short format content needs to be explored more for better audience reach specifically children who have a shorten attention span compared to adults

#### **Runtime vs IMDb and TMDb Scores - Pair Plot**

In [ ]:


#Remove duplicates â€” keep only one row per unique 'id'
df_clean = df[['id', 'runtime', 'imdb_score', 'tmdb_score']].drop_duplicates(subset='id')

#Drop rows with missing values in relevant columns
df_clean = df_clean.dropna(subset=['runtime', 'imdb_score', 'tmdb_score'])

#Plot pairplot
sns.pairplot(df_clean[['runtime', 'imdb_score', 'tmdb_score']], diag_kind='kde', plot_kws={'alpha': 0.6})
plt.suptitle("Pairplot: Runtime vs IMDb and TMDb Scores", y=1.02)
plt.show()

**Specific Chart Usage Purpose:**

---
Used pairplot to perform cross attribute comparison to see rating parameters reliability

OBSERVATIONS
1. The scatter plots show a  positive trend between both imdb_score and tmdb_score â€” indicating positive correlation.

2. Runtime vs IMDb score and Runtime vs TMDB score show a negative correlation.

**INTERPRETATIONS**

1. IMDB scores and TMDB scores have a similar filter to rate movies and do not have a polarised effect on users who judge by these ratings.
2. Negative correlation with runtime indicates users have not rated or judged content based on the length of the content.

**CONCLUSIONS**



1.   IMDB and TMDB correlation suggests platforms like Amazon Prime can analyse data from either platforms because of them are reliable.
2.  Runtime is not a predictor of the user rating for a movie or tv show.

## **5. Solution to Business Objective**

1. Investing more in Regional language based content in Asian and European countries as they show tremendous growth and high popularity.

2. Prioritizing collaborations with top-performing artists and adding movies/tv shows  of popular actors and directors identified through the data (e.g., actors/directors with high average IMDb ratings and large title counts).

3. Targeting content production in countries like the US, UK, and India, where high-rated titles and more consistent popularity are evident.

4. Focusing on content with runtime between 90â€“120 minutes, as this range is associated with better audience engagement.

5. Continuing to acquire or produce content rated for 13+ and 16+ age groups, which dominate the platform and are well-received by viewers.

6. Prioritizing children and family friend content addition to the platform for wider audience reach and higher engagement.

7. Investing on top genres like Drama, Comedy, Romance, Action and Horror movies which have high viewership.

8. Focusing on TV Show categories like Reality shows and other episodic content because of their high ratings which will bring in family audience engagement.

9. Analysing ratings and popularity data from IMDB and TMDB which has a large cinephile user base.

# **Conclusion**

This project provided a comprehensive data-driven overview of Amazon Prime's content library. Through exploration of key metrics like IMDb scores, TMDb popularity, genres, production countries, content categories and contributors, we were able to derive actionable insights that can inform platform strategy. The findings highlight opportunities for optimizing content acquisition and production by focusing on high-performing categories and contributors.
With better content strategy aligned to user preferences and data-backed trends, Amazon Prime can improve viewer satisfaction, increase engagement, and enhance market competitiveness.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***